<!DOCTYPE html>
<html>

  {% include head.html %}
   
  <body id="cover">
    <div class="loader"></div>

    <div id="headline"></div>
    
    {% include header.html %}

    <div class="page-content" id="about-block">
    <div class="wrapper">
      <a class="anchor" id="about">About</a>
      <div class="post">
        <header class="post-header">
           <h1 class="post-title">About</h1>
        </header>
 
        <article class="post-content">
		I'm a Biochemistry PhD candidate at the University of Texas at Austin with the Center for Systems and Synthetic Biology. After getting a BS in Chemistry from Texas A&M in 2013, I spent several years designing and building continous reaction systems for Eastman Chemical Company. Since then, I've decided big molecules are much more interesting than small molecules, so now I study the evolution of protein complexes in the <a href="http://www.marcottelab.org/index.php/Main_Page">Marcotte Lab</a>.
        </article>
      </div>

    </div>
    </div>


    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
